header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  background-color: #277e8b;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  z-index: -1;
}

.name {
  color: #ffff;
  font-family:'Source Sans Pro', sans-serif;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header {
    height: 380px;
    width: 350px; 
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
  }

}