nav {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  width: 100%;
  position: fixed;
}
.prompt {
  display: flex;
  flex-direction: column;
  align-items: center;

}
span{
  font-family: 'Bungee', cursive;
}

.logo {
  font-size: 35px;
}

.tweetPrompt {
  font-family:'Source Sans Pro', sans-serif;
}

.write {
  font-family:'Source Sans Pro', sans-serif;
  font-weight: bold ;
}

.fa-angle-double-down{
  color: red
}

@media (min-width: 1024px) {
  .container {
    margin-top: 170px;
  } 
  
}
@media (max-width: 1023px) {
nav {
  background-color: #277e8b;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
.fa-angle-double-down{
  color: white
}
}